

body{
    margin-left: 300px ;
    margin-right: 300px;
    background-color: rgb(249, 193, 126);
}
h1{
    text-align: center;
}
 p{
    margin: 30px 300px;
}
        button {
            width:60%;
        padding: 5px 0%;
        margin: 10px 300px ;
        border-radius: 5px; 
        border: none;
        background: #1c87c9; 
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        }
  