
body{
    margin-left: 300px ;
    margin-right: 300px;
    background:#149463;
    font-size: medium; ;
}
h1{
    text-align: center;
}
 p{
    margin: 30px 300px;
}
        button {
            width:60%;
        padding: 5px 0%;
        margin: 10px 300px ;
        border-radius: 5px; 
        border: none;
        background: #1c87c9; 
        font-size: 14px;
        font-weight: 600;
        color: #fff;
            margin-left: auto;
        }
        #statement ,p,a{
            margin-left: auto;
        }
        p{
            font-size: 30px;
        }
        h4{
            color: red;
        }
        
